out
dist
node_modules
.vscode-test/
*.vsix

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
php/vendor
test/demo/vendor
test/demo/reported.json
test/scratchpad
**/reported.json

_config