out
dist
node_modules
.vscode-test/
*.vsix

.pnp.*
php/vendor
test/demo/vendor
test/demo/cache
test/demo/reported.json
test/multi-config-demo/vendor
test/multi-config-demo/cache
test/multi-config-demo/reported.json
test/multi-workspace-demo/primary/vendor
test/multi-workspace-demo/primary/cache
test/multi-workspace-demo/secondary/vendor
test/multi-workspace-demo/secondary/cache
test/scratchpad
**/reported.json
user_config.json

_config