{
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"printWidth": 80,
	"plugins": ["./node_modules/prettier-plugin-sort-imports/dist/index.3.js"],
}
