parameters:
	level: 9
	scanDirectories:
		- .
	paths:
		- .

# Rules from phpstan/phpstan-strict-rules, based on the full list here: https://github.com/phpstan/phpstan-strict-rules/blob/master/rules.neon
rules:
	- TreeFetcher
