includes:
	# Replaced with location of user file when used
	- ../test/demo/phpstan.neon

rules:
	- PHPStanVSCodeTreeFetcher

parameters:
	# Use a custom cacheDir so that the transformed-args and
	# default args don't clear each others' caches.
	tmpDir: ../test/cacheDir

services:
	-
		class: PHPStanVSCodeTreeFetcherCollector
		tags:
			- phpstan.collector